.circle-container {
    height: 100%;
    width: 100%;
    position: relative;
    /* cursor: pointer; */
    border: 1px solid black;
}

.dynamic-circle {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    border: 1px solid black;
    position: absolute;
    transform: translate(-50%, -50%);
}